<nav class=" navbar navbar-expand-lg  navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">XML</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="admin/viewZ1">Zahtevi za zig</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/viewA1">Zahtevi za autorska prava</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/viewP1">Zahtevi za patent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/report">Izveštaji</a>
        </li>
       
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
