<nav class=" navbar navbar-expand-lg  navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/korisnik">XML</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="korisnik/z1">Kreiranje zahteva za zig</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="korisnik/p1">Kreiranje zahteva za patent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="korisnik/a1">Kreiranje zahteva za autorska prava</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="korisnik/viewZ1">Zigovi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="korisnik/viewP1">Patenti</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="korisnik/viewA1">Autorska prava</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/guest">Odjavi se</a>
            </li>
      
       
      </ul>
    </div>
  </nav><router-outlet></router-outlet>